@using Noog_mvc.Models.ProjectGroup
@model TopSectionViewModel

@{
    // This ensures the top section knows which group is currently being viewed
    var currentGroupId = ViewData["CurrentGroupId"]?.ToString();
}

<section>
    <article class="pg-header" href="@Url.Action("Index", "ProjectGroup", new { projectGroupId = currentGroupId })">
        <h1 class="pg-title">@Model?.GroupName</h1>
		@if (Model?.IsAdmin == true)
        {
            <button>
                <a asp-action="AddUser"
                   asp-controller="ProjectGroup"
                   asp-route-projectGroupId="@currentGroupId"
                   class=""
                   aria-label="Add User">
                    Add User
                </a>
            </button>
        }
     
        @if (!string.IsNullOrWhiteSpace(Model?.GroupImg))
        {
            <img src="@Model.GroupImg" alt="@Model.GroupName logo" class="pg-call-icon" />
        }
        else
        {
            <img src="~/images/project-icon.png" alt="Icon" class="pg-call-icon" />
        }
    </article>

    <div class="pg-divider"></div>
</section>
