@{
    ViewData["Title"] = "About us";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>
    Here is some information about us. Maybe you wonder about the name - Noog. What is the story behind that name?
    Nothing really... Just a random name we gave the project.

    Best regards,
    Simon, Matheus, Oliver & Michael
</p>
