@{
    ViewData["Title"] = "Home Page";
}

<div class="main-box">
    <div class="first-text-row">
        <p>Kom och</p>
        <div class="noog-img">
            <img src="~/asset/noog-logo-transparent.png" alt="Logo" />
        </div>
        <div class="last-text-row">
            Med <span class="simon"> simon</span> och gänget
        </div>
    </div>
</div>
