@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>We use essential cookies to make our site work. With your consent, we also use analytics cookies to understand how visitors use our site.</p>
