<!-- The sidebar. ~227 width rounded, (3/20 % of total width), same internal padding -->
<div>
    <!-- Noog Logo + go to home -->
    <section>
        <a asp-controller="Dashboard" asp-action="Index">Logga</a>
    </section>

    <!-- "Group Projects:" -->
    <!-- Pink Line -->
    <!-- List of group projects, groupproject image + name, scrollable if long -->
    <!-- Pink Line -->
    <!-- add new groupProject button  -->
    <!-- Possible new Pink Line -->
    <!-- Logout button + glue to bottom -->
</div>
