<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
	    <title>@ViewData["Title"]</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/EmptyBackground.css" />
    </head>
    <body class="wrapper">
	@RenderBody()
    </body>
</html>