<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <title>@ViewData["Title"] - Noog</title>
        <!-- No SEO needed for authenticated views -->
        <meta name="robots" content="noindex, nofollow" />
        
        <link rel="stylesheet" href="~/css/EmptyBackground.css" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    </head>
    <body class="wrapper">
	    @RenderBody()
    </body>
</html>