<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Noog_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Noog_mvc.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="nav-container">
                <button class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation">
                    ☰
                </button>
                <ul class="nav-links" id="nav-links">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Om oss</a></li>
                    <li><a class="login-link-child" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                </ul>
                <a class="login-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
            </div>
        </nav>
    </header>
    
        <main role="main" class="main-content   ">
            @RenderBody()
        </main>

    <footer class="footer">
        <div class="container">
            &copy; 2025 - Noog-mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
