/* ====== Dashboard Css ====== */

:root {
    --primary-color: #2941FF; /* Blue */
    --secoundary-color: #ededed; /* White */
    --tertiary-color: #F085DA; /* Pink */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Inter", system-ui;
}

.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: var(--primary-color);
}

/* Dashboard home Start */

.dashboard-content {
    flex: 17;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    overflow: hidden;
    /* Clamping */
    /* The padding will scale smoothly between 0.5rem and 3rem
        depending on wiewport width.
    */
    /* clamp(MIN, FLUID, MAX) */

    padding-right: clamp(0.5rem, 3vw + 0.2rem, 3rem);
    padding-left: clamp(0.5rem, 3vw + 0.2rem, 3rem);
    background: linear-gradient(135deg, #2941ff 0%, #764ba2 100%);
}

/* === Dashboard Main Stack === */
.dashboard-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

/* === Profile Card === */
.profile-card {
    background: var(--secoundary-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1.5rem 2rem;
    height: 35%;
    position: relative;
}

.profile-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.welcome-text {
    color: var(--primary-color);
    font-size: clamp(1rem, 4vw + 0.1rem, 1.8rem);
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.username {
    height: 100%;
    display: flex;
    color: var(--tertiary-color);
    font-size: clamp(2rem, 4vw + 0.1rem, 3rem);
    font-weight: 600;
    align-self: center;
    align-items: center;
}

.profile-right {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.profile-img {
    max-width: 100%;
    max-height: 100%;
    width: clamp(100px, 5vw + 10px, 200px);
    height: auto;
    border-radius: 25px;
    object-fit: cover;
    display: flex;
    border: 3px solid var(--tertiary-color);
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    margin-right: 0.5rem;
}

.edit-icon {
    width: 20px;
    height: 20px;
}

/* === Separator === */
.dashboard-separator {
    height: 8px;
    border-radius: 5px;
    background-color: var(--tertiary-color);
}

/* === Recents Section === */
.recents-section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
}


.recents-title {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
}

.recents-project-name {
    min-width: 0;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recents-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.recent-card {
    background: linear-gradient(135deg,  #764ba2 0%, #2941ff 100%);
    border: 2px solid white;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.recent-left, .recent-center, .recent-right {
    display: flex;
    align-items: center;
}

.recent-left {
    gap: 0.5rem;
    min-width: 35px;
    flex: 1;
}

.recent-center {
    flex: 2;
    min-width: 0;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.recent-right {
    flex: 0;
}

.recent-icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 500px) {
    .profile-card {
        flex-direction: column;
    }
    .profile-left {
        flex-direction: row;
        gap: 1rem;
    }
    .profile-right {
        width: 100%;
        gap: 1rem;
        flex-direction: row-reverse;
        justify-content: end;
        display: flex;
    }
    .profile-img {
        display: flex;
        justify-content: center;
    }
}
/* Sidebar CSS Start */
.dashboard-sidebar {
    max-height: 100vh;
    min-width: 65px;
    flex: 3;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: clamp(0.1rem, 1vw + 0.5rem, 1rem);
    padding-left: clamp(0.1rem, 0.1vw + 0.5rem, 1rem);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secoundary-color);
    border-right: 1px solid #ccc;
}

/* ====== Logo ====== */
.sidebar-logo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sidebar-home-link {
    display: inline-block;
    width: 100%;
}
.sidebar-logo-img {
    width: 70%;
    height: auto;
    max-width: 100%;
}

/* ====== "Group Projects" ====== */
.sidebar-section-label {
    margin-top: 1rem;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    font-weight: 200;
    color: var(--primary-color);
}

/* ====== Pink Line ====== */
.sidebar-separator {
    height: 4px;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    margin: 0.5rem 0 1rem;
}

/* ====== Group project list ====== */
.sidebar-project-list {
    max-height: 300px;
    overflow-y: auto;
}
.sidebar-project-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-project-list ul li a {
    padding: 3px;
}
.sidebar-project-list ul li.active {
    border-radius: 20px;
    background-color: var(--primary-color);
}
.sidebar-project-list ul li.active a .project-name {
    color: var(--noog-white);
}
.project-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0.75rem;
}
.project-icon {
    width: 35px;
    height: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    flex-shrink: 0;
}
.project-name {
    font-weight: bold;
    color: var(--primary-color);
    min-width: 0;
    margin-left: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: inherit;
    white-space: nowrap;
}

/* ====== Responsive shenanigans ====== */

@media (max-width: 500px) {
    .dashboard-sidebar {
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        min-width: 50px;
    }
    .sidebar-section-label {
        color: transparent;
    }
    .project-name {
        display: none;
    }
    .project-link {
        justify-content: center;
    }
}

/* ====== Add New Project Button ====== */

.add-project-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.add-project-icon {
    width: 35px;
    height: 35px;
    color: var(--primary-color); /* Blue */
}

.add-project-icon:hover {
    color: #7C29FF; /* Purple */
}

/* ====== Logout Button Section ====== */

.sidebar-bottom {
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logout-button {
    width: 100%;
    padding: 0.5rem;
    background-color: #C91E2C; /* Red */
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;

    overflow:hidden;
    text-overflow: ellipsis;
}

.logout-button:hover {
    background-color: #A71925; /* Darker Red */
}
/* Sidebar CSS End */

/* Project Group Main content */

:root {
    --noog-blue: #2941ff;
    --noog-pink: #F583D8;
    --noog-white: #ededed;
    --noog-purple: #A290BB;
    --noog-purple2: #8026CC;
    --space-s: 12px;
    --space-m: 24px;
    --space-l: 32px;
    --radius-l: 22px;
    --radius-xl: 28px;
    --font-title: 2.5rem;
    --font-tile-title: 1.4rem;
    --shadow-tile: 0 6px 20px rgba(0, 0, 0, .18);
}

/* ---------- PAGE LAYOUT ---------- */
#pg > * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 540px) {
    .dashboard-content {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
/* ---------- HEADER ---------- */
.pg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
}

.pg-title {
    margin: 0;
    padding: 0;
    color: var(--noog-white);
    font-weight: 200;
    font-size: var(--font-title);
    text-align: left;
}

.pg-logo-img {
    width: 100px;
    align-items: flex-end;
    display: flex;
}

/* video call bubble */
.pg-call-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    background: rgba(255,255,255,.2);
}

/* ---------- PINK DIVIDER ---------- */
.pg-divider {
    padding-top: 0;
    display: block;
    height: 1rem;
    background-color: var(--noog-pink);
    border-radius: 20px;
}

/* ---------- TILE GRID ---------- */
.pg-tiles-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 35vh;
    width: 100%;
    max-width: inherit;
}
.pg-tiles-bottom {
    display: flex;
    justify-content: center;
    height: 70%;
}

.pg-tiles-top a {
    height: 80%;
    width: auto;
    aspect-ratio: 1 / 1;
}

.pg-tiles-bottom a {
    width: 30%;
    justify-content: space-evenly;
    min-width: 250px;
}

/* ---------- TILE BASE STYLING ---------- */
.tile {
    background: var(--noog-purple);
    border-radius: 22px;

    /* --- CLAMPING --- */
    /* The padding will scale smoothly between 1 and 2 rem
        depending on wiewport width.
    */
    /* clamp(MIN, FLUID, MAX) */

    padding: clamp(1rem, 3vw + 0.2rem, 2rem);

    min-height: 100px;
    position: relative;
    box-shadow: var(--shadow-tile);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Storage display specifics */
#tile-storage {
    flex-direction: row;
    align-items: center;
}
pg-tiles-storage {
    flex-direction: column;
}
/* tile icons */
.tile__icon {
    position: absolute;
    top: -14px;
    left: -14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,255,255,.22);
    box-shadow: 0 4px 10px rgba(0,0,0,.18);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* tile icons - Chat, meeting, storage */
.tile-icon {
    width: 80px;
    height: 80px;
}

/* titles */
.tile__title {
    margin: 0.5rem;
    font-size: clamp(16px, 3vw + 1px, var(--font-tile-title));
    font-weight: 200;
    color: var(--noog-white);
}

.tile p {
    margin: 0;
    position: relative;
}

/* badges */
.badge {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 16px;
    background: rgba(255,255,255,.22);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

/* green success badge */
.badge--success {
    background: #2ecc71;
    color: #08361a;
}


/* blue unread counter */
.badge--counter {
    background: var(--noog-purple2);
    color: white;
    padding: 6px 12px;
    border-radius: 16px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 500px) {
    .pg-tiles-top {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .pg-tiles-bottom {
        flex: 1;
    }
    .pg-tiles-top a {
        width: 70%;
    }
    .pg-tiles-bottom a {
        min-width: 0;
        height: 20%;
    }
    #tile-storage {
        flex-direction: column;
        width: 70%;
    }
    .tile {
        aspect-ratio: 1/1;
    }
    .tile__title {
        margin: 0rem;
    }
    #pg > * {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    .pg-title {
        font-size: 1.4rem;
    }
    .dashboard-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .tile-icon {
        width: 60px;
        height: 60px;
    }
}
