@{
    Layout = "~/Views/Shared/_PGDashboard.cshtml";
}

@{
    ViewData["Title"] = "Project Group Meeting";
}

<article style="align-content: center">
    <h1 style="color: white; ">Meeting Page is under construction</h1>
    <h3 style="color: white">Meeting Page is under construction</h3>
    <p style="color: white">If it was constructed it would probably be in React anyway</p>
    <button>
        <a  asp-action="Index" 
            asp-controller="ProjectGroup" 
            asp-route-projectGroupId="@ViewBag.ProjectGroupId">
                Go back
        </a>
    </button>
    @{
        var link = ViewBag.CallLink as string;
    }

    @if (!string.IsNullOrEmpty(link))
    {
        <script>
            window.open('@link', '_blank'); // opens in a new tab/window
        </script>
    }
</article>